# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Static files
staticfiles/

# Media
media/

# OS
.DS_Store
Thumbs.db